<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FCC Chart the Stock Market</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <div class="jumbotron jumbotron-fluid container">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h1 class="display-3">STOCKS</h1>
            </div>
            <div class="col-md-12 text-center">
                <div id="container" class="chart"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="codelist">
            <div class="col-md-12 mb-4" id="error">
                <div class="input-group">
                    <input id="code" type="text" class="form-control input-field" placeholder="code">
                    <span id="send" class="input-group-addon input-button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <footer>Created by Tiago Correia</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>